version: 2.1

orbs:
  bedrock-plugin-disabler:
    executors:
      php-85:
        docker:
          - image: 'cimg/php:8.5'
      php-84:
        docker:
          - image: 'cimg/php:8.4'
      php-83:
        docker:
          - image: 'cimg/php:8.3'
      php-82:
        docker:
          - image: 'cimg/php:8.2'
      php-81:
        docker:
          - image: 'cimg/php:8.1'
      php-80:
        docker:
          - image: 'cimg/php:8.0'
      php-74:
        docker:
          - image: 'cimg/php:7.4'
      php-73:
        docker:
          - image: 'cimg/php:7.3'
      php-72:
        docker:
          - image: 'cimg/php:7.2'
      php-71:
        docker:
          - image: 'cimg/php:7.1'
    jobs:
      build-php:
        parameters:
          executor:
            type: executor
        executor: << parameters.executor >>
        steps:
          - run: php -v
          - run: sudo composer self-update --2
          - checkout
          - restore_cache:
              keys:
                - composer-v2-{{ checksum "composer.lock" }}
                - composer-v2-
          - run: composer install -n --prefer-dist
          - run: composer lint
          - save_cache:
              key: composer-v2-{{ checksum "composer.lock" }}
              paths:
                - vendor

workflows:
  build:
    jobs:
      - bedrock-plugin-disabler/build-php:
          name: build-php-85
          executor: bedrock-plugin-disabler/php-85
      - bedrock-plugin-disabler/build-php:
          name: build-php-84
          executor: bedrock-plugin-disabler/php-84
      - bedrock-plugin-disabler/build-php:
          name: build-php-83
          executor: bedrock-plugin-disabler/php-83
      - bedrock-plugin-disabler/build-php:
          name: build-php-82
          executor: bedrock-plugin-disabler/php-82
      - bedrock-plugin-disabler/build-php:
          name: build-php-81
          executor: bedrock-plugin-disabler/php-81
      - bedrock-plugin-disabler/build-php:
          name: build-php-80
          executor: bedrock-plugin-disabler/php-80
      - bedrock-plugin-disabler/build-php:
          name: build-php-74
          executor: bedrock-plugin-disabler/php-74
      - bedrock-plugin-disabler/build-php:
          name: build-php-73
          executor: bedrock-plugin-disabler/php-73
      - bedrock-plugin-disabler/build-php:
          name: build-php-72
          executor: bedrock-plugin-disabler/php-72
      - bedrock-plugin-disabler/build-php:
          name: build-php-71
          executor: bedrock-plugin-disabler/php-71
